################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DBu3hanan.github.io/FileContentIndex/41f5cfa7-c1d6-484b-ac41-239760495a9e.vsidx
*.vsidx
